<div class="container">
	<div class="col-md-5 col-md-offset-4">
	<%= render 'form', post: @post %>
<br>
	<%= button_to 'Back', posts_path, :method => :get ,  class: 'btn btn-secondary' %>
</div>
</div>